h1 {
	font-style: italic;
	font-size: 50px;
}

body {
	
	margin: 0px;
	text-align:center;
}

#header {
    background-image: url("http://3.bp.blogspot.com/-T6h-ok-hj6o/Vgxozncmw1I/AAAAAAAALts/gg4Pe8z3n98/s1600-r/2191452.png");
    color: white;
    text-align: center;
    padding: 20px 0 0 0;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	text-decoration: none;
}

#header li a {
	color: white;
	text-decoration: none;
}

#header li a:hover {
	color: #73AD21;
	text-decoration: none;
}

ul {
    padding: 10px;
	background: rgba(0,0,0,0.5);
	margin: 0px;
}

li {
	display: inline;
	padding: 0px 10px 0px 10px;
	
}

#nav {
	background-color: #73AD21;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    height:350px;
    width:280px;
    float:left;
    padding:15px 0px 30px 0px;
	text-align:center;	
}

p:hover {
    color: white;
}

#content {
	float:left;
	padding: 30px 40px 0 0;
	margin-left: 300px;
}

#section {
	text-align:right;
	padding: 20px 0px 0 0;
	margin-right: 50px;
	float:right;
}


table#akta{
	padding-bottom: 1em;
	border-collapse: collapse;
	width:1000px;
}
table#akta,td ,th{
	margin-left:auto;
	margin-right:auto;
	border:2px solid black;
	padding-bottom: 5px;
	padding-top: 5px;
}


input#jokalari{
	width:400px;
	
}
#aktaGehitu,#erregistratu{
	background-color: #73AD21;
	
}

#emaitza{
	width:20px;
}

button#gorde {

  background: #d134d9;
  background-image: -webkit-linear-gradient(top, #d134d9, #b82c66);
  background-image: -moz-linear-gradient(top, #d134d9, #b82c66);
  background-image: -ms-linear-gradient(top, #d134d9, #b82c66);
  background-image: -o-linear-gradient(top, #d134d9, #b82c66);
  background-image: linear-gradient(to bottom, #d134d9, #b82c66);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button#gorde:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}