/* oinarria.php */

html {
	height: 100%;
}
body {
	margin: 0px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	height: 100%;
}

#header {
    background-image: url("http://3.bp.blogspot.com/-T6h-ok-hj6o/Vgxozncmw1I/AAAAAAAALts/gg4Pe8z3n98/s1600-r/2191452.png");
    color: white;
    text-align: center;
    padding: 0;
	text-decoration: none;
}

#header h1 {
	font-style: italic;
	font-size: 50px;
	padding: 20px 0;
	margin: 0;	
}

#header ul {
    padding: 10px;
	background: rgba(0,0,0,0.5);
	margin: 0px;
}

#header a {
	color: white;
	text-decoration: none;
}

#header li {
	display: inline;
	padding: 0px 10px 0px 10px;
}

#header a:hover {
	color: #73AD21;
	text-decoration: none;
}

#nav {
	background-color: #73AD21;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	height: 100%;
    width:280px;
    float:left;
	text-align:center;	
}

#nav p {
	margin: 30px 10px 5px 10px;
}

#nav button {
	margin: 20px;
}

#nav h3 {
	margin: 65px 35px 35px 35px;
}

#nav ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 65px 0;
}

#nav li {
	padding: 15px 0;
}

#nav li a {
	color: white;
	text-decoration: none;
}

#nav li a:hover {
	color: black;
	text-decoration: none;
}

#content {
	float:left;
	padding-top: 35px;
	margin-left: 240px;
	width: 360px;
}

#content h2 {
	text-align: center;
}

#content td {
	padding: 5px;
}

#content li {
	text-decoration: none;
}

#section {
	text-align:right;
	padding: 0;
	margin-right: 50px;
	float:right;
}

#footer {
	background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px;
	position: fixed; 
	bottom: 0; 
	width:100%;
}

#footer #ehu {
	padding: 0;
	float: left;
}

#footer #emaila {
	padding-top: 20px;
	font-size: 20px;
	float: center;
}

#footer #emaila p {
	margin: 0;
}

#emaila a {
	text-decoration: none;
	color: #73AD21;
}

#emaila a:hover {
	text-decoration: none;
	color: grey;
}

/* aktaGehitu.php, erregistratu.php */

#aktaGehitu, #erregistro {
	background-color: #73AD21;
	float:center;
	text-align:center;
}

#aktaGehitu h1, #erregistro h1 {
	font-style: italic;
	color: white;
}

#erregistro p {
	margin: 30px 10px 10px 10px;
}

#emaitza1, #emaitza2 {
	width:30px;
}

#akta table {
	padding-bottom: 1em;
	border-collapse: collapse;
	width:1000px;
	background-color: white;
}

#akta table, td, th {
	margin: 0 auto;
	padding: 5px 0;
	border:2px solid black;
	font-style: italic;
}

#jokalari {
	width:400px;
}

button#gorde {
  background: #d134d9;
  background-image: -webkit-linear-gradient(top, #d134d9, #b82c66);
  background-image: -moz-linear-gradient(top, #d134d9, #b82c66);
  background-image: -ms-linear-gradient(top, #d134d9, #b82c66);
  background-image: -o-linear-gradient(top, #d134d9, #b82c66);
  background-image: linear-gradient(to bottom, #d134d9, #b82c66);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button#gorde:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}