body {
	background-color: #7ec0ee;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

p:hover {
    color: white;
}

div {
	text-align:center;	
}
table#akta{
	padding-bottom: 1em;
	border-collapse: collapse;
}
table#akta,td ,th{
	margin-left:auto;
	margin-right:auto;
	border:2px solid black;
	
	
	

}


input#jokalari{
	width:300px;
	
}